
{{> header }}
{{> navbar  }}

<div class="row">
    
    <div class="col-8">
        <h1>Liverpool F.C</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium praesentium suscipit aut numquam fugiat repudiandae possimus quidem quos aliquam dolores ipsum, dolorem maiores, nihil dolorum. Aut excepturi dolorum suscipit quam.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/lfc.jpg" alt="img-thumbnail" style="width: 80%;">
    </div>

</div>      


{{>footer  }}